# DATA CLEANING AND PREPROCESSING

## Description of the Dataset.

The dataset was scraped from meqasa.com. The largest online real estate company in Ghana. It consist of 2332 entires and 15 features.
<br>
In this Notebook I will be cleaning the data and prepare it for analysis
<br>
Together with Python, I will use Microsoft Excel to clean the data as well. The final dataset is located in the working directory of the analysis file

## Importing relevant libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

### Loading and reading dataset

In [2]:
data = pd.read_excel('meqasa_apartments.xlsx')
data.head()

,web-scraper-order,property_name,price,beds,baths,categories,bedrooms,bathrooms,garage,area,location,amenities,furnished
0,1606905643-6208,3 bedroom apartment for rent at Airport Reside...,"GH₵ 23,387\n/ month",3.0,NaN,Apartment for Rent\n\nApartment for Rent in Ai...,3.0,NaN,NaN,NaN,Airport Residential,NaN,NaN
1,1606908472-7112,"2 bedroom apartment for rent at West Legon, ar...","GH₵ 2,700\n/ month",2.0,2.0,Apartment for Rent\n\nApartment for Rent in We...,2.0,2.0,0.0,NaN,"West Legon, around Gimpa, Greater Accra",AmenitiesAir conditioning\nFans\nWater reservoir,NaN
2,1606903854-5567,2 bedroom furnished apartment for rent at Shia...,"GH₵ 10,295\n/ month",2.0,2.0,Apartment for Rent\n\nApartment for Rent in Sh...,2.0,2.0,0.0,55 m2,"Shiashie, Accra, Ghana",AmenitiesAir conditioning\nCooker\nWashing mac...,Furnished
3,1606893503-1744,"3 bedroom apartment for rent at Dzorwulu,Accra...","GH₵ 14,950\n/ month",3.0,3.0,Apartment for Rent\n\nApartment for Rent in Dz...,3.0,3.0,0.0,210 m2,"Dzorwulu,Accra,Ghana",AmenitiesAir conditioning\nCooker\nWashing mac...,NaN
4,1606903825-5556,3 bedroom furnished apartment for rent at Airp...,"GH₵ 23,863\n/ month",3.0,3.0,Apartment for Rent\n\nApartment for Rent in Ai...,3.0,3.0,2.0,Apartment for Rent\n\nApartment for Rent in Ai...,"Airport Residential Area, Accra- Ghana",AmenitiesAir conditioning\nCooker\nWashing mac...,Furnished

In [3]:
data.sample(5)

,web-scraper-order,property_name,price,beds,baths,categories,bedrooms,bathrooms,garage,area,location,amenities,furnished
774,1606892234-1282,1 bedroom furnished apartment for rent at Cant...,"GH₵ 8,158\n/ month",1.0,1.0,Apartment for Rent\n\nApartment for Rent in Accra,1.0,1.0,0.0,NaN,Cantonments,AmenitiesAir conditioning\nCooker\nWashing mac...,Furnished
657,1606900342-4295,1 bedroom furnished apartment for rent at Cant...,"GH₵ 11,966\n/ month",1.0,1.0,Apartment for Rent\n\nApartment for Rent in Accra,1.0,1.0,1.0,NaN,Cantonments,AmenitiesGarden\nGarage\nSwimming pool\nSecuri...,Furnished
1841,1606894135-1995,2 bedroom apartment for rent at Cantonments,"GH₵ 15,229\n/ month",2.0,2.0,Apartment for Rent\n\nApartment for Rent in Accra,2.0,2.0,2.0,NaN,Cantonments,AmenitiesAir conditioning\nCooker\nWashing mac...,NaN
253,1606899445-3968,2 bedroom furnished apartment for rent at Cant...,"GH₵ 10,878\n/ month",2.0,2.0,Apartment for Rent\n\nApartment for Rent in Accra,2.0,2.0,0.0,NaN,Cantonments,AmenitiesAir conditioning\nCooker\nWashing mac...,Furnished
954,1606908101-7028,"2 bedroom apartment for rent at Spintex, Ecoba...","GH₵ 1,500\n/ month",2.0,3.0,Apartment for Rent\n\nApartment for Rent in Sp...,2.0,3.0,0.0,NaN,"Spintex, Ecobank area, Greater Accra",AmenitiesFans\nWater reservoir,NaN

In [4]:
data.isnull().sum()

web-scraper-order       0
property_name          23
price                  28
beds                   23
baths                 141
categories             23
bedrooms               23
bathrooms             141
garage                184
area                 1084
location                0
amenities             232
furnished             966
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332 entries, 0 to 2331
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   web-scraper-order  2332 non-null   object
 1   property_name      2309 non-null   object
 2   price              2304 non-null   object
 3   beds               2309 non-null   float64
 4   baths              2191 non-null   float64
 5   categories         2309 non-null   object
 6   bedrooms           2309 non-null   float64
 7   bathrooms          2191 non-null   float64
 8   garage             2148 non-null   float64
 9   area               1248 non-null   object
 10  location           2332 non-null   object
 11  amenities          2100 non-null   object
 12  furnished          1366 non-null   object
dtypes: float64(5), object(8)
memory usage: 237.0+ KB

In [6]:
data.describe().transpose()

            count      mean       std  min  25%  50%  75%   max
beds       2309.0  2.025985  0.947139  1.0  1.0  2.0  3.0   5.0
baths      2191.0  1.975810  0.889748  1.0  1.0  2.0  3.0   5.0
bedrooms   2309.0  2.025985  0.947139  1.0  1.0  2.0  3.0   5.0
bathrooms  2191.0  1.975810  0.889748  1.0  1.0  2.0  3.0   5.0
garage     2148.0  1.140130  4.872421  0.0  0.0  0.0  1.0  34.0

In [7]:
data.describe(exclude=np.number).transpose()

,count,unique,top,freq
web-scraper-order,2332,2332,1606889783-605,1
property_name,2309,304,1 bedroom furnished apartment for rent at Cant...,172
price,2304,149,"GH₵ 11,966\n/ month",181
categories,2309,107,Apartment for Rent\n\nApartment for Rent in Accra,565
area,1248,46,42 m2,158
location,2332,231,Cantonments,534
amenities,2100,175,AmenitiesAir conditioning\nCooker\nWashing mac...,204
furnished,1366,3,Furnished,1343

In [8]:
data[data.property_name.isna()]

,web-scraper-order,property_name,price,beds,baths,categories,bedrooms,bathrooms,garage,area,location,amenities,furnished
100,1606897869-3379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shiashie,NaN,Fully Furnished?
183,1606897900-3391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater accra,NaN,Fully Furnished?
401,1606897874-3381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Airport International School, Koriey Kofi...",NaN,Fully Furnished?
422,1606898075-3450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dzorwulu, Greater Accra",NaN,Unit Name
504,1606897992-3421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
559,1606897861-3377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dzorwulu,NaN,Unit Name
898,1606898380-3568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East, Legon, Accra",NaN,Fully Furnished?
1024,1606897886-3387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST LEGON,NaN,Fully Furnished?
1187,1606897892-3389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Ghana",NaN,Fully Furnished?
1251,1606898194-3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,East legon,NaN,Fully Furnished?
1333,1606897921-3397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Accra, Ghana",NaN,Fully Furnished?
1396,1606897852-3374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Ghana",NaN,Fully Furnished?
1629,1606888915-417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Shiashie, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
1631,1606897999-3425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cantonments, Accra, Ghana",NaN,Fully Furnished?
1769,1606897881-3385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70100 m\n 2,"Dzorwulu, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
1923,1606898374-3565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kisseman,NaN,Unit Name
1964,1606898009-3427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra",NaN,Unit Name
1969,1606888912-415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35 m\n 2,"Shiashie, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
2045,1606898189-3495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70100 m\n 2,"Cantonments, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
2060,1606897915-3396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Ghana",NaN,Fully Furnished?
2062,1606888906-413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35 m\n 2,"42 Independence Ave, Accra, Ghana",NaN,Fully Furnished?
2103,1606898185-3493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cantonments, Accra, Ghana",NaN,Fully Furnished?
2108,1606898199-3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?

In [9]:
data[data.price.isna()]

,web-scraper-order,property_name,price,beds,baths,categories,bedrooms,bathrooms,garage,area,location,amenities,furnished
100,1606897869-3379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shiashie,NaN,Fully Furnished?
183,1606897900-3391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater accra,NaN,Fully Furnished?
401,1606897874-3381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Airport International School, Koriey Kofi...",NaN,Fully Furnished?
422,1606898075-3450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dzorwulu, Greater Accra",NaN,Unit Name
504,1606897992-3421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
559,1606897861-3377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dzorwulu,NaN,Unit Name
651,1606889692-584,"2 bedroom apartment for rent at East Legon, Ac...",NaN,2.0,2.0,Apartment for Rent\n\nApartment for Rent in Ea...,2.0,2.0,0.0,NaN,"East Legon, Accra, Greater Accra, Ghana",AmenitiesWater reservoir\nGenerator\nAir condi...,NaN
679,1606906252-6413,1 bedroom apartment for rent at Dzorwulu,NaN,1.0,NaN,Apartment for Rent\n\nApartment for Rent in Dz...,1.0,NaN,NaN,NaN,Dzorwulu,NaN,NaN
898,1606898380-3568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East, Legon, Accra",NaN,Fully Furnished?
961,1606889534-550,"2 bedroom apartment for rent at East Legon, Ac...",NaN,2.0,2.0,Apartment for Rent\n\nApartment for Rent in Ea...,2.0,2.0,0.0,NaN,"East Legon, Accra, Greater Accra, Ghana",AmenitiesWater reservoir\nGenerator\nAir condi...,NaN
1024,1606897886-3387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST LEGON,NaN,Fully Furnished?
1187,1606897892-3389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Ghana",NaN,Fully Furnished?
1251,1606898194-3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,East legon,NaN,Fully Furnished?
1333,1606897921-3397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Accra, Ghana",NaN,Fully Furnished?
1396,1606897852-3374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Ghana",NaN,Fully Furnished?
1608,1606889831-618,"2 bedroom apartment for rent at East Legon, Ac...",NaN,2.0,2.0,Apartment for Rent\n\nApartment for Rent in Ea...,2.0,2.0,0.0,NaN,"East Legon, Accra, Greater Accra, Ghana",AmenitiesWater reservoir\nGenerator\nAir condi...,NaN
1629,1606888915-417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Shiashie, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
1631,1606897999-3425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cantonments, Accra, Ghana",NaN,Fully Furnished?
1769,1606897881-3385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70100 m\n 2,"Dzorwulu, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
1868,1606889370-516,"2 bedroom apartment for rent at East Legon, Ac...",NaN,2.0,2.0,Apartment for Rent\n\nApartment for Rent in Ea...,2.0,2.0,0.0,NaN,"East Legon, Accra, Greater Accra, Ghana",AmenitiesWater reservoir\nGenerator\nAir condi...,NaN
1923,1606898374-3565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kisseman,NaN,Unit Name
1964,1606898009-3427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra",NaN,Unit Name
1969,1606888912-415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35 m\n 2,"Shiashie, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
2045,1606898189-3495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70100 m\n 2,"Cantonments, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?
2060,1606897915-3396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Ghana",NaN,Fully Furnished?
2062,1606888906-413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35 m\n 2,"42 Independence Ave, Accra, Ghana",NaN,Fully Furnished?
2103,1606898185-3493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cantonments, Accra, Ghana",NaN,Fully Furnished?
2108,1606898199-3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"East Legon, Accra, Greater Accra Region, Ghana",NaN,Fully Furnished?

### Cleaning the price column

In [10]:
data['price'] = data['price'].str.replace(',', '')
data['price'] = data['price'].str.replace('month', '')
data['price'] = data['price'].str.replace('day','')
data['price'] = data['price'].str.replace(' ', '')
data['price'] = data['price'].str.replace('GH₵', '')
data['price'] = data['price'].str.replace('\n/','')
#data['price'] = data['price'].astype(int)

Dropping rows without property name and price

In [11]:
data.dropna(subset=['price','property_name'],inplace=True)

In [12]:
data['price'] = data['price'].astype(int)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2304 entries, 0 to 2331
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   web-scraper-order  2304 non-null   object
 1   property_name      2304 non-null   object
 2   price              2304 non-null   int32
 3   beds               2304 non-null   float64
 4   baths              2187 non-null   float64
 5   categories         2304 non-null   object
 6   bedrooms           2304 non-null   float64
 7   bathrooms          2187 non-null   float64
 8   garage             2144 non-null   float64
 9   area               1244 non-null   object
 10  location           2304 non-null   object
 11  amenities          2096 non-null   object
 12  furnished          1343 non-null   object
dtypes: float64(5), int32(1), object(7)
memory usage: 243.0+ KB

In [14]:
data.price.isna().sum()

0

In [15]:
data.isna().sum()

web-scraper-order       0
property_name           0
price                   0
beds                    0
baths                 117
categories              0
bedrooms                0
bathrooms             117
garage                160
area                 1060
location                0
amenities             208
furnished             961
dtype: int64

In [16]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
price,2304.0,11820.618490,5720.656190,350.0,8158.0,11830.0,15229.0,54389.0
beds,2304.0,2.026476,0.947924,1.0,1.0,2.0,3.0,5.0
baths,2187.0,1.975766,0.890561,1.0,1.0,2.0,3.0,5.0
bedrooms,2304.0,2.026476,0.947924,1.0,1.0,2.0,3.0,5.0
bathrooms,2187.0,1.975766,0.890561,1.0,1.0,2.0,3.0,5.0
garage,2144.0,1.142257,4.876717,0.0,0.0,0.0,1.0,34.0

### Cleaning the bathrooms columns

In [17]:
data.drop(['beds','baths'],axis=1,inplace=True)
data.isna().sum()

web-scraper-order       0
property_name           0
price                   0
categories              0
bedrooms                0
bathrooms             117
garage                160
area                 1060
location                0
amenities             208
furnished             961
dtype: int64

In [18]:
data.isnull().values.any()

True

In [19]:
data[data['bathrooms'].isna()].head()

,web-scraper-order,property_name,price,categories,bedrooms,bathrooms,garage,area,location,amenities,furnished
0,1606905643-6208,3 bedroom apartment for rent at Airport Reside...,23387,Apartment for Rent\n\nApartment for Rent in Ai...,3.0,NaN,NaN,NaN,Airport Residential,NaN,NaN
6,1606905687-6222,3 bedroom apartment for rent at Cantonments,13597,Apartment for Rent\n\nApartment for Rent in Ca...,3.0,NaN,NaN,NaN,Cantonments,NaN,NaN
13,1606906158-6379,2 bedroom apartment for rent at West Airport,19036,Apartment for Rent\n\nApartment for Rent in We...,2.0,NaN,NaN,NaN,West Airport,NaN,NaN
76,1606907213-6737,2 bedroom apartment for rent at Dzorwulu,9790,Apartment for Rent\n\nApartment for Rent in Dz...,2.0,NaN,NaN,NaN,Dzorwulu,NaN,NaN
77,1606905581-6189,2 bedroom apartment for rent at Airport City,16317,Apartment for Rent\n\nApartment for Rent in Ai...,2.0,NaN,NaN,NaN,Airport City,NaN,NaN

In [39]:
data.shape

(2304, 11)

In [20]:
data[data['bathrooms'].isna()].shape

(117, 11)

In [40]:
data.to_csv(r'my_dataset.csv')

In [21]:
for i in data.bedrooms.unique():
    print(data[data.bathrooms.isna()][data.bedrooms==i])

<ipython-input-21-b23e9f90a07d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(data[data.bathrooms.isna()][data.bedrooms==i])
<ipython-input-21-b23e9f90a07d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(data[data.bathrooms.isna()][data.bedrooms==i])
<ipython-input-21-b23e9f90a07d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(data[data.bathrooms.isna()][data.bedrooms==i])
<ipython-input-21-b23e9f90a07d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(data[data.bathrooms.isna()][data.bedrooms==i])
<ipython-input-21-b23e9f90a07d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(data[data.bathrooms.isna()][data.bedrooms==i])

     web-scraper-order                                      property_name  \
0      1606905643-6208  3 bedroom apartment for rent at Airport Reside...
6      1606905687-6222        3 bedroom apartment for rent at Cantonments
91     1606906511-6491  3 bedroom apartment for rent at Airport Reside...
101    1606905915-6295       3 bedroom apartment for rent at Airport West
122    1606905933-6302       3 bedroom apartment for rent at Airport West
...                ...                                                ...
2182   1606905737-6236  3 bedroom apartment for rent at Airport Reside...
2216   1606905824-6265         3 bedroom apartment for rent at East Legon
2262   1606905669-6216  3 bedroom apartment for rent at Airport Reside...
2284   1606906705-6554              3 bedroom apartment for rent at Ridge
2331   1606906789-6586       3 bedroom apartment for rent at Airport West

      price                                         categories  bedrooms  \
0     23387  Apartment for Rent\n\nApartment for Rent in Ai...       3.0
6     13597  Apartment for Rent\n\nApartment for Rent in Ca...       3.0
91    29914  Apartment for Rent\n\nApartment for Rent in Ai...       3.0
101   35353  Apartment for Rent\n\nApartment for Rent in Ai...       3.0
122   22843  Apartment for Rent\n\nApartment for Rent in Ai...       3.0
...     ...                                                ...       ...
2182  16317  Apartment for Rent\n\nApartment for Rent in Ai...       3.0
2216  15773  Apartment for Rent\n\nApartment for Rent in Ea...       3.0
2262  19036  Apartment for Rent\n\nApartment for Rent in Ai...       3.0
2284  20124  Apartment for Rent\n\nApartment for Rent in Ridge       3.0
2331  28282  Apartment for Rent\n\nApartment for Rent in Ai...       3.0

      bathrooms  garage area             location amenities furnished
0           NaN     NaN  NaN  Airport Residential       NaN       NaN
6           NaN     NaN  NaN          Cantonments       NaN       NaN
91          NaN     NaN  NaN  Airport Residential       NaN       NaN
101         NaN     NaN  NaN         Airport West       NaN       NaN
122         NaN     NaN  NaN         Airport West       NaN       NaN
...         ...     ...  ...                  ...       ...       ...
2182        NaN     NaN  NaN  Airport Residential       NaN       NaN
2216        NaN     NaN  NaN           East Legon       NaN       NaN
2262        NaN     NaN  NaN  Airport Residential       NaN       NaN
2284        NaN     NaN  NaN                Ridge       NaN       NaN
2331        NaN     NaN  NaN         Airport West       NaN       NaN

[73 rows x 11 columns]
     web-scraper-order                                      property_name  \
13     1606906158-6379       2 bedroom apartment for rent at West Airport
76     1606907213-6737           2 bedroom apartment for rent at Dzorwulu
77     1606905581-6189       2 bedroom apartment for rent at Airport City
506    1606906196-6393  2 bedroom apartment for rent at Airport Reside...
594    1606906141-6373         2 bedroom apartment for rent at West Legon
618    1606906519-6494            2 bedroom apartment for rent at Spintex
750    1606905876-6283        2 bedroom apartment for rent at Cantonments
780    1606906878-6614  2 bedroom duplex apartment for rent at Airport...
853    1606906131-6369             2 bedroom apartment for rent at Labone
1008   1606905785-6251        2 bedroom apartment for rent at Roman Ridge
1018   1606906165-6382        2 bedroom apartment for rent at Cantonments
1166   1606906187-6390       2 bedroom duplex apartment for rent at Ridge
1226   1606906551-6503  2 bedroom apartment for rent at Airport Reside...
1285   1606907136-6709         2 bedroom apartment for rent at East Legon
1292   1606906205-6396              2 bedroom apartment for rent at Ridge
1351   1606906121-6365           2 bedroom apartment for rent at Dzorwulu
1426   1606906499-6487  2 bedroom apartment for rent at Airport Reside...
1453   1606907061-6681        2 bedroom apartment for rent at Cantonments
1491   1606906668-6542            2 bedroom apartment for rent at Spintex
1531   1606906612-6524        2 bedroom apartment for rent at Cantonments
1638   1606905612-6198        2 bedroom apartment for rent at Cantonments
1889   1606906605-6521        2 bedroom apartment for rent at Cantonments
1914   1606906179-6387              2 bedroom apartment for rent at Ridge
1983   1606906730-6563              2 bedroom apartment for rent at Ridge
2115   1606906148-6376  2 bedroom duplex apartment for rent at Cantonm...
2183   1606905570-6186              2 bedroom apartment for rent at Ridge
2234   1606907147-6713         2 bedroom apartment for rent at East Legon

      price                                         categories  bedrooms  \
13    19036  Apartment for Rent\n\nApartment for Rent in We...       2.0
76     9790  Apartment for Rent\n\nApartment for Rent in Dz...       2.0
77    16317  Apartment for Rent\n\nApartment for Rent in Ai...       2.0
506   16317  Apartment for Rent\n\nApartment for Rent in Ai...       2.0
594    8702  Apartment for Rent\n\nApartment for Rent in We...       2.0
618    9790  Apartment for Rent\n\nApartment for Rent in Sp...       2.0
750   15773  Apartment for Rent\n\nApartment for Rent in Ca...       2.0
780   19036  Duplex apartment for Rent\n\nApartment for Ren...       2.0
853   16317  Apartment for Rent\n\nApartment for Rent in La...       2.0
1008  10878  Apartment for Rent\n\nApartment for Rent in Ro...       2.0
1018  10878  Apartment for Rent\n\nApartment for Rent in Ca...       2.0
1166  15229  Duplex apartment for Rent\n\nApartment for Ren...       2.0
1226  19036  Apartment for Rent\n\nApartment for Rent in Ai...       2.0
1285   9246  Apartment for Rent\n\nApartment for Rent in Ea...       2.0
1292  13053  Apartment for Rent\n\nApartment for Rent in Ridge       2.0
1351   9790  Apartment for Rent\n\nApartment for Rent in Dz...       2.0
1426  13597  Apartment for Rent\n\nApartment for Rent in Ai...       2.0
1453  16317  Apartment for Rent\n\nApartment for Rent in Ca...       2.0
1491   6527  Apartment for Rent\n\nApartment for Rent in Sp...       2.0
1531  19036  Apartment for Rent\n\nApartment for Rent in Ca...       2.0
1638  15773  Apartment for Rent\n\nApartment for Rent in Ca...       2.0
1889  19036  Apartment for Rent\n\nApartment for Rent in Ca...       2.0
1914  15773  Apartment for Rent\n\nApartment for Rent in Ridge       2.0
1983  15773  Apartment for Rent\n\nApartment for Rent in Ridge       2.0
2115  13597  Duplex apartment for Rent\n\nApartment for Ren...       2.0
2183  15773  Apartment for Rent\n\nApartment for Rent in Ridge       2.0
2234  13597  Apartment for Rent\n\nApartment for Rent in Ea...       2.0

      bathrooms  garage area             location amenities furnished
13          NaN     NaN  NaN         West Airport       NaN       NaN
76          NaN     NaN  NaN             Dzorwulu       NaN       NaN
77          NaN     NaN  NaN         Airport City       NaN       NaN
506         NaN     NaN  NaN  Airport Residential       NaN       NaN
594         NaN     NaN  NaN           West Legon       NaN       NaN
618         NaN     NaN  NaN              Spintex       NaN       NaN
750         NaN     NaN  NaN          Cantonments       NaN       NaN
780         NaN     NaN  NaN  Airport Residential       NaN       NaN
853         NaN     NaN  NaN               Labone       NaN       NaN
1008        NaN     NaN  NaN          Roman Ridge       NaN       NaN
1018        NaN     NaN  NaN          Cantonments       NaN       NaN
1166        NaN     NaN  NaN                Ridge       NaN       NaN
1226        NaN     NaN  NaN  Airport Residential       NaN       NaN
1285        NaN     NaN  NaN           East Legon       NaN       NaN
1292        NaN     NaN  NaN                Ridge       NaN       NaN
1351        NaN     NaN  NaN             Dzorwulu       NaN       NaN
1426        NaN     NaN  NaN  Airport Residential       NaN       NaN
1453        NaN     NaN  NaN          Cantonments       NaN       NaN
1491        NaN     NaN  NaN              Spintex       NaN       NaN
1531        NaN     NaN  NaN          Cantonments       NaN       NaN
1638        NaN     NaN  NaN          Cantonments       NaN       NaN
1889        NaN     NaN  NaN          Cantonments       NaN       NaN
1914        NaN     NaN  NaN                Ridge       NaN       NaN
1983        NaN     NaN  NaN                Ridge       NaN       NaN
2115        NaN     NaN  NaN          Cantonments       NaN       NaN
2183        NaN     NaN  NaN                Ridge       NaN       NaN
2234        NaN     NaN  NaN           East Legon       NaN       NaN
     web-scraper-order                                      property_name  \
278    1606906215-6400              1 bedroom apartment for rent at Ridge
659    1606906242-6411    1 bedroom apartment for rent at Tetteh Quarshie
696    1606907310-6768  1 bedroom furnished apartment for rent at Accr...
892    1606906408-6464  1 bedroom apartment for rent at Airport Reside...
1071   1606906225-6404       1 bedroom apartment for rent at West Airport
1080   1606905858-6276        1 bedroom apartment for rent at Cantonments
1196   1606906234-6407        1 bedroom apartment for rent at Cantonments
1341   1606906741-6566              1 bedroom apartment for rent at Ridge
1614   1606907125-6706        1 bedroom apartment for rent at Cantonments

      price                                         categories  bedrooms  \
278   10878  Apartment for Rent\n\nApartment for Rent in Ridge       1.0
659   11966  Apartment for Rent\n\nApartment for Rent in Te...       1.0
696    1000  Apartment for Rent\n\nApartment for Rent in Accra       1.0
892   13053  Apartment for Rent\n\nApartment for Rent in Ai...       1.0
1071  15229  Apartment for Rent\n\nApartment for Rent in We...       1.0
1080  10334  Apartment for Rent\n\nApartment for Rent in Ca...       1.0
1196  12509  Apartment for Rent\n\nApartment for Rent in Ca...       1.0
1341  10334  Apartment for Rent\n\nApartment for Rent in Ridge       1.0
1614  11694  Apartment for Rent\n\nApartment for Rent in Ca...       1.0

      bathrooms  garage area                       location  \
278         NaN     NaN  NaN                          Ridge
659         NaN     NaN  NaN                Tetteh Quarshie
696         NaN     0.0  NaN  Accra-Pobiman off Nsawam road
892         NaN     NaN  NaN            Airport Residential
1071        NaN     NaN  NaN                   West Airport
1080        NaN     NaN  NaN                    Cantonments
1196        NaN     NaN  NaN                    Cantonments
1341        NaN     NaN  NaN                          Ridge
1614        NaN     NaN  NaN                    Cantonments

                                              amenities  furnished
278                                                 NaN        NaN
659                                                 NaN        NaN
696   AmenitiesAir conditioning\nCooker\nFans\nRefri...  Furnished
892                                                 NaN        NaN
1071                                                NaN        NaN
1080                                                NaN        NaN
1196                                                NaN        NaN
1341                                                NaN        NaN
1614                                                NaN        NaN
     web-scraper-order                                      property_name  \
135    1606906275-6420  4 bedroom apartment for rent at Airport Reside...
331    1606905886-6286       4 bedroom apartment for rent at Airport City
1144   1606906624-6528        4 bedroom apartment for rent at Cantonments
1261   1606907037-6672        4 bedroom apartment for rent at Cantonments
1375   1606906533-6497        4 bedroom apartment for rent at Cantonments
1946   1606907202-6733       4 bedroom apartment for rent at Airport West
2240   1606906819-6596  4 bedroom apartment for rent at Greater Accra ...

      price                                         categories  bedrooms  \
135   32633  Apartment for Rent\n\nApartment for Rent in Ai...       4.0
331   19036  Apartment for Rent\n\nApartment for Rent in Ai...       4.0
1144  32633  Apartment for Rent\n\nApartment for Rent in Ca...       4.0
1261  24475  Apartment for Rent\n\nApartment for Rent in Ca...       4.0
1375  24475  Apartment for Rent\n\nApartment for Rent in Ca...       4.0
1946  35353  Apartment for Rent\n\nApartment for Rent in Ai...       4.0
2240  32633  Apartment for Rent\n\nApartment for Rent in Gr...       4.0

      bathrooms  garage area              location amenities furnished
135         NaN     NaN  NaN   Airport Residential       NaN       NaN
331         NaN     NaN  NaN          Airport City       NaN       NaN
1144        NaN     NaN  NaN           Cantonments       NaN       NaN
1261        NaN     NaN  NaN           Cantonments       NaN       NaN
1375        NaN     NaN  NaN           Cantonments       NaN       NaN
1946        NaN     NaN  NaN          Airport West       NaN       NaN
2240        NaN     NaN  NaN  Greater Accra Region       NaN       NaN
    web-scraper-order                                 property_name  price  \
352   1606906420-6468  5 bedroom apartment for rent at Airport City  40792

                                            categories  bedrooms  bathrooms  \
352  Apartment for Rent\n\nApartment for Rent in Ai...       5.0        NaN

     garage area      location amenities furnished
352     NaN  NaN  Airport City       NaN       NaN

In [22]:
data.bedrooms.unique()

array([3., 2., 1., 4., 5.])

In [23]:
data['bathrooms'][data['bedrooms']==1][data['bathrooms'].isna()].fillna(data.bedrooms, inplace=True)
#data['bathrooms'][data['bedrooms']==2][data['bathrooms'].isna()].fillna(data.bedrooms,inplace=True)
#data['bathrooms'][data['bedrooms']==3][data['bathrooms'].isna()].fillna(data.bedrooms,inplace=True)
#data['bathrooms'][data['bedrooms']==4][data['bathrooms'].isna()].fillna(data.bedrooms,inplace=True)
#data['bathrooms'][data['bedrooms']==5][data['bathrooms'].isna()].fillna(data.bedrooms,inplace=True)
#data['bathrooms'][data['bedrooms']==1][data['bathrooms'].isna()].fillna(data.bedrooms,inplace=True)

In [35]:
data['bathrooms'][data['bedrooms']==1][data['bathrooms'].isna()].fillna(data.bedrooms, inplace=True)

In [33]:
data.bathrooms.isna().sum()

117

In [ ]:
data.baths.isna().sum()

In [ ]:
data[['beds','baths']][data.baths.isna()]

It is logical to fill the missing values in the baths columns with 1 if the apartment is a one bedroom apartment.

In [ ]:
data[data['baths'].isna()][data['beds']==1]

In [ ]:
data[data['baths'].isna()][data['beds']==1].fillna(data.beds)

In [ ]:
data['baths'].isna()[data['beds']==1].fillna(data.beds, inplace=True)

In [ ]:
print(data['baths'][data['beds']==1].isna().sum())
print(data['baths'][data['beds']==1].isna().sum())

In [ ]:
data.beds.unique

In [ ]:
data.beds.describe

In [ ]:
data.beds.isna().sum()

### Cleaning garage columns

### Cleaning furnished columns

### Cleaning Amenities Columns

dropping null prices and property rows

In [ ]:
data.dropna(subset=['price','property_name'],inplace=True)

In [ ]:
pd.to_numeric(data['price'])

In [ ]:
data.price.head()

In [ ]:
data['price'].isna().sum()

In [ ]:
data.shape

### Cleaning the categories column

In [ ]:
data['categories']

In [ ]:
data.isna().sum().sum()-1084

In [ ]:
data.area.unique()

In [ ]:
len(data.area.unique())

In [ ]:
for i in data.area.unique():
    print(i)

### Cleaning the area column

In [41]:
data['area'] = data['area'].str.replace(' ', '')
data['area'] = data['area'].str.replace('m2', '')

In [42]:
data.area

0                                                     NaN
1                                                     NaN
2                                                      55
3                                                     210
4       ApartmentforRent\n\nApartmentforRentinAirportR...
                              ...
2327                                                  265
2328                                                  NaN
2329                                                  NaN
2330                                                  200
2331                                                  NaN
Name: area, Length: 2304, dtype: object

In [43]:
data.area.isnull().sum()

1060

In [44]:
data.isna().sum()

web-scraper-order       0
property_name           0
price                   0
categories              0
bedrooms                0
bathrooms             117
garage                160
area                 1060
location                0
amenities             208
furnished             961
dtype: int64

In [45]:
my_na=data[data['price'].isna()].head()

In [47]:
data.to_csv(r'my_new_dataset.csv')

In [ ]:
data

In [ ]:
data[]

In [ ]:
data.isna().sum()

In [ ]:
data.dropna(subset=['price','property_name'],inplace=True)

In [ ]:
data.info()

In [ ]:
data['price'].astype(int)

In [ ]:
data.info()

In [ ]:
pd.to_numeric(data['price'])

In [ ]:
data.info()